:root {
    --nw: 1ch;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    text-align: center;
}

#area {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 90vw;
    overflow-x: scroll;
}

.out {
    margin: 2ch;
    width: calc(var(--nw) + 3ch);
}

.el {
    height: 100%;
    width: 100%;
    padding: 2vh 0;
    text-align: center;
    border: 1px solid;
}

.move-up {
    
}

@keyframes swap-up {
    0% {
        transform: translate(0, 0);
    }
    30% {
        transform: translate(0, -5vh);
    }
    70% {
        transform: translate(7vh, -5vh);
    }
    100% {
        transform: translate(7vh, 0);
    }
}

@keyframes swap-down {
    0% {
        transform: translate(0, 0);
    }
    30% {
        transform: translate(0, 5vh);
    }
    70% {
        transform: translate(-7vh, 5vh);
    }
    100% {
        transform: translate(-7vh, 0);
    }
}
